# Payment Supabase
SUPABASE_ANON_KEY="test_anon_key"
SUPABASE_JWT="test_jwt_key"

# Stripe
STRIPE_ENVIRONMENT="sandbox"
STRIPE_SANDBOX_SECRET_KEY="sk_test_1234567890"
STRIPE_PRODUCTION_SECRET_KEY="test_stripe_production_secret_key"
STRIPE_WEBHOOK_SECRET_KEY="test_stripe_webhook_secret_key"

# Midtrans
MIDTRANS_ENVIRONMENT="sandbox"
MIDTRANS_SANDBOX_SERVER_KEY="test_midtrans_sandbox_server_key"
MIDTRANS_SANDBOX_CLIENT_KEY="test_midtrans_sandbox_client_key"
MIDTRANS_PRODUCTION_SERVER_KEY="test_midtrans_production_server_key"
MIDTRANS_PRODUCTION_CLIENT_KEY="test_midtrans_production_client_key"

# Eimunisasi Supabase
EIMUNISASI_SUPABASE_URL="https://test-eimunisasi.supabase.co"
EIMUNISASI_SUPABASE_SERVICE_ROLE_KEY="test_eimunisasi_service_role_key"
EIMUNISASI_SUPABASE_ANON_KEY="test_eimunisasi_anon_key"

# Enakes Supabase
ENAKES_SUPABASE_URL="https://test-enakes.supabase.co"
ENAKES_SUPABASE_SERVICE_ROLE_KEY="test_enakes_service_role_key"
ENAKES_SUPABASE_ANON_KEY="test_enakes_anon_key"

# Point Bayeu to your local Docker Outpost container
OUTPOST_API_URL=http://host.docker.internal:3000
OUTPOST_API_KEY=test_api_key

# Server to server CORS
ALLOWED_ORIGINS=http://localhost:54321,http://localhost:3000,http://127.0.0.1:54321
